openapi: 3.1.0
info:
  title: BodySense Contract Codegen Spike
  version: 0.1.0
  description: >-
    Isolated contract fixture for the 2026-09-09 architecture spike. It mirrors
    selected production wire shapes but is not wired to production routing.
  license:
    name: Internal experiment only
    identifier: LicenseRef-Internal-Experiment
servers:
  - url: https://body.bakersean.top
security:
  - bearerAuth: []
paths:
  /api/v1/health-workspace:
    get:
      operationId: getHealthWorkspace
      summary: Read the continuous health workspace projection.
      responses:
        "200":
          description: Current workspace projection.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthWorkspace"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/v1/body-state/facts:
    post:
      operationId: addBodyStateFact
      summary: Add a durable BodyState fact with optimistic revision checking.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertBodyStateFactRequest"
      responses:
        "200":
          description: Stored fact and resulting aggregate revision.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BodyStateFactMutationResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "409":
          $ref: "#/components/responses/RevisionConflict"
        "503":
          $ref: "#/components/responses/ValidationUnavailable"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/v1/body-state/facts/{fact_id}/review:
    patch:
      operationId: reviewBodyStateFact
      summary: Path-parameter control for the R2 mutation family.
      parameters:
        - in: path
          name: fact_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewBodyStateFactRequest"
      responses:
        "200":
          description: Reviewed fact and resulting aggregate revision.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BodyStateFactMutationResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/RevisionConflict"
        "500":
          $ref: "#/components/responses/InternalError"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    Unauthorized:
      description: Authentication is required.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    InvalidRequest:
      description: Request shape or semantic validation failed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    NotFound:
      description: Requested BodyState item does not exist.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    RevisionConflict:
      description: The optimistic BodyState revision is stale.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    ValidationUnavailable:
      description: Body-region validation is temporarily unavailable.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    InternalError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
  schemas:
    JsonObject:
      type: object
      additionalProperties: true
    ErrorEnvelope:
      type: object
      additionalProperties: false
      required: [error]
      properties:
        error:
          type: object
          additionalProperties: false
          required: [code, message]
          properties:
            code:
              type: string
              minLength: 1
            message:
              type: string
    HealthWorkspace:
      type: object
      additionalProperties: false
      required:
        - generated_at
        - profile_ready
        - body_state
        - treatment_revisions
        - recent_outcomes
        - trends
        - capabilities
        - actions
      properties:
        generated_at:
          type: string
          format: date-time
        conversation_id:
          anyOf:
            - type: string
              format: uuid
            - type: "null"
        profile_ready:
          type: boolean
        body_state:
          $ref: "#/components/schemas/HealthWorkspaceBodyState"
        diagnosis:
          $ref: "#/components/schemas/JsonObject"
        treatment:
          anyOf:
            - $ref: "#/components/schemas/JsonObject"
            - type: "null"
        training_plan:
          anyOf:
            - $ref: "#/components/schemas/JsonObject"
            - type: "null"
        treatment_revisions:
          type: array
          items:
            $ref: "#/components/schemas/JsonObject"
        recent_outcomes:
          type: array
          items:
            $ref: "#/components/schemas/JsonObject"
        trends:
          type: array
          items:
            $ref: "#/components/schemas/WorkspaceTrend"
        capabilities:
          $ref: "#/components/schemas/WorkspaceCapabilities"
        actions:
          type: array
          items:
            $ref: "#/components/schemas/WorkspaceAction"
    HealthWorkspaceBodyState:
      type: object
      additionalProperties: false
      required:
        - current_revision
        - safety_state
        - facts
        - pending_facts
        - observations
        - pending_observations
        - hypotheses
        - recent_revisions
      properties:
        current_revision:
          type: integer
          format: int64
          minimum: 0
        safety_state:
          $ref: "#/components/schemas/JsonObject"
        facts:
          type: array
          items:
            $ref: "#/components/schemas/BodyStateFact"
        pending_facts:
          type: array
          items:
            $ref: "#/components/schemas/BodyStateFact"
        observations:
          type: array
          items:
            $ref: "#/components/schemas/BodyStateObservation"
        pending_observations:
          type: array
          items:
            $ref: "#/components/schemas/BodyStateObservation"
        hypotheses:
          type: array
          items:
            $ref: "#/components/schemas/BodyStateHypothesis"
        recent_revisions:
          type: array
          items:
            $ref: "#/components/schemas/BodyStateRevision"
    BodyStateFactInput:
      type: object
      additionalProperties: false
      required: [kind, value]
      properties:
        concern_key:
          type: string
        kind:
          type: string
          minLength: 1
        body_region:
          type: string
        body_region_id:
          anyOf:
            - type: string
            - type: "null"
        value:
          type: string
        details:
          $ref: "#/components/schemas/JsonObject"
        origin:
          type: string
        review_state:
          type: string
        lifecycle_state:
          type: string
        trend:
          type: string
        observed_at:
          anyOf:
            - type: string
              format: date-time
            - type: "null"
    UpsertBodyStateFactRequest:
      type: object
      additionalProperties: false
      required: [expected_revision, fact]
      properties:
        expected_revision:
          type: integer
          format: int64
          minimum: 0
        fact:
          $ref: "#/components/schemas/BodyStateFactInput"
    ReviewBodyStateFactRequest:
      type: object
      additionalProperties: false
      required: [expected_revision, review_state]
      properties:
        expected_revision:
          type: integer
          format: int64
          minimum: 0
        review_state:
          type: string
          enum: [confirmed, rejected]
    BodyStateFactMutationResponse:
      type: object
      additionalProperties: false
      required: [fact, revision]
      properties:
        fact:
          $ref: "#/components/schemas/BodyStateFact"
        revision:
          type: integer
          format: int64
          minimum: 0
    BodyStateFact:
      type: object
      additionalProperties: false
      required:
        - id
        - user_id
        - kind
        - value
        - details
        - origin
        - review_state
        - lifecycle_state
        - trend
        - provenance
        - excluded_from_reasoning
        - created_revision
        - updated_revision
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        concern_key:
          type: string
        kind:
          type: string
        body_region:
          type: string
        body_region_id:
          anyOf:
            - type: string
            - type: "null"
        value:
          type: string
        details:
          $ref: "#/components/schemas/JsonObject"
        origin:
          type: string
        review_state:
          type: string
        lifecycle_state:
          type: string
        trend:
          type: string
        source_key:
          type: string
        provenance:
          $ref: "#/components/schemas/JsonObject"
        observed_at:
          anyOf:
            - type: string
              format: date-time
            - type: "null"
        valid_from:
          anyOf:
            - type: string
              format: date-time
            - type: "null"
        valid_until:
          anyOf:
            - type: string
              format: date-time
            - type: "null"
        supersedes_fact_id:
          anyOf:
            - type: string
              format: uuid
            - type: "null"
        excluded_from_reasoning:
          type: boolean
        created_revision:
          type: integer
          format: int64
        updated_revision:
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    BodyStateObservation:
      type: object
      additionalProperties: true
      required: [id, kind, value, review_state, lifecycle_state, updated_revision]
      properties:
        id:
          type: string
          format: uuid
        kind:
          type: string
        value:
          $ref: "#/components/schemas/JsonObject"
        review_state:
          type: string
        lifecycle_state:
          type: string
        updated_revision:
          type: integer
          format: int64
    BodyStateHypothesis:
      type: object
      additionalProperties: true
      required:
        - id
        - concern_key
        - statement
        - lifecycle_state
        - supporting_fact_ids
        - supporting_observation_ids
        - supporting_evidence_ids
        - counterevidence_ids
        - created_revision
        - updated_revision
      properties:
        id:
          type: string
          format: uuid
        concern_key:
          type: string
        statement:
          type: string
        lifecycle_state:
          type: string
        confidence:
          anyOf:
            - type: string
            - type: "null"
        supporting_fact_ids:
          type: array
          items: {type: string, format: uuid}
        supporting_observation_ids:
          type: array
          items: {type: string, format: uuid}
        supporting_evidence_ids:
          type: array
          items: {type: string, format: uuid}
        counterevidence_ids:
          type: array
          items: {type: string, format: uuid}
        created_revision:
          type: integer
          format: int64
        updated_revision:
          type: integer
          format: int64
    BodyStateRevision:
      type: object
      additionalProperties: false
      required: [id, revision, change_type, source, changes, created_at]
      properties:
        id:
          type: string
          format: uuid
        revision:
          type: integer
          format: int64
        change_type:
          type: string
        source:
          type: string
        changes:
          $ref: "#/components/schemas/JsonObject"
        created_at:
          type: string
          format: date-time
    WorkspaceCapabilities:
      type: object
      additionalProperties: false
      required:
        - can_continue_consultation
        - can_edit_body_state
        - can_request_diagnosis
        - can_review_diagnosis
        - can_generate_treatment
        - can_accept_treatment
        - can_execute_treatment
        - can_record_outcome
        - can_review_treatment
        - requires_safety_review
        - requires_diagnosis_review
        - requires_treatment_review
      properties:
        can_continue_consultation: {type: boolean}
        can_edit_body_state: {type: boolean}
        can_request_diagnosis: {type: boolean}
        can_review_diagnosis: {type: boolean}
        can_generate_treatment: {type: boolean}
        can_accept_treatment: {type: boolean}
        can_execute_treatment: {type: boolean}
        can_record_outcome: {type: boolean}
        can_review_treatment: {type: boolean}
        requires_safety_review: {type: boolean}
        requires_diagnosis_review: {type: boolean}
        requires_treatment_review: {type: boolean}
    WorkspaceAction:
      type: object
      additionalProperties: false
      required: [kind, priority, enabled, reason]
      properties:
        kind: {type: string}
        priority: {type: integer}
        enabled: {type: boolean}
        reason: {type: string}
        target:
          $ref: "#/components/schemas/JsonObject"
    WorkspaceTrend:
      type: object
      additionalProperties: false
      required: [key, concern_key, body_region, kind, current_trend, points]
      properties:
        key: {type: string}
        concern_key: {type: string}
        body_region: {type: string}
        kind: {type: string}
        current_trend: {type: string}
        points:
          type: array
          items:
            $ref: "#/components/schemas/WorkspaceTrendPoint"
    WorkspaceTrendPoint:
      type: object
      additionalProperties: false
      required: [occurred_at, source_type, value]
      properties:
        occurred_at: {type: string, format: date-time}
        source_type: {type: string}
        value:
          $ref: "#/components/schemas/JsonObject"
        notes: {type: string}
        causality_level: {type: string}
